<!DOCTYPE html>
<head>
    <title>The Never-Ending Story</title>
    <link href="main.css" rel="stylesheet" type="text/css"></head>
<body>
    <%# Handle flash messages %>
    <% if ( flash.length > 0 ) { %>
        <% for (var i = 0; i < flash.length; i++) { %>
        <div class="flash-message"> <%= flash[i] %></div>
        <% } %>
    <% } %>
    <div class="header">
        <h1>The Literally Never-Ending Story</h1>
    </div>
    <div class="content">
        <p>The current story so far: <em><%= story %></em></p>
        <hr />
        <h3>Suggest a word!</h3>
        <form action="/suggestword" autocomplete="off" method="POST">
            <input type="text" name="word" value="">
            <input type="submit" value="Submit">
        </form>
        <hr />
        <h3>Suggested Words</h3>
        <table class="suggestedWordTable">
            <thead>
                <th>Word</th>
                <th>Votes</th>
            </thead>
            <tbody>
                <% for (var i = 0; i < words.length; i++) { %>
                <tr>
                    <td><p class="suggestedWord"><%= words[i].name %></p></td>
                    <td><p class="SuggestedWordVotes"><%= words[i].votes %></p></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>